Repository sonic-net/sonic-platform-common, pull requests merged in 2020-11, with the labels that each got.

#140 Remove shebangs from non-executable Python files
  sonic_fan/fan_base.py
  sonic_led/led_control_base.py
  sonic_platform_base/sonic_eeprom/eeprom_base.py
  sonic_platform_base/sonic_eeprom/eeprom_dts.py
  sonic_platform_base/sonic_eeprom/eeprom_tlvinfo.py
  sonic_platform_base/sonic_pcie/pcie_base.py
  sonic_platform_base/sonic_sfp/bcmshell.py
  sonic_platform_base/sonic_sfp/inf8628.py
  sonic_platform_base/sonic_sfp/qsfp_dd.py
  sonic_platform_base/sonic_sfp/sff8024.py
  sonic_platform_base/sonic_sfp/sff8436.py
  sonic_platform_base/sonic_sfp/sff8472.py
  sonic_platform_base/sonic_sfp/sffbase.py
  sonic_psu/psu_base.py
  sonic_thermal/thermal_base.py
  sonic_y_cable/y_cable.py
Labels: Cleanup

#136 Common power consumption and supply APIs for modular chassis
  sonic_platform_base/chassis_base.py
  sonic_platform_base/device_base.py
  sonic_platform_base/fan_drawer_base.py
  sonic_platform_base/module_base.py
  sonic_platform_base/psu_base.py
Labels: Enhancement

#131 Thermalctld APIs for recording min and max temp
  sonic_platform_base/thermal_base.py
Labels: Enhancement, Thermal

#142 [PsuBase] Reference inherited member constant
  sonic_platform_base/psu_base.py
Labels: Cleanup, PSU

#145 [sonic_eeprom] Fix variable type
  sonic_platform_base/sonic_eeprom/eeprom_tlvinfo.py
Labels: Bug, EEPROM

#147 [sonic_y_cable] support for error handling non-expected eeprom_read return values inside sonic_y_cable
  sonic_y_cable/y_cable.py
Labels: Bug, EEPROM, Transceiver

#149 [eeprom_base] Close lock file after unlocking
  sonic_platform_base/sonic_eeprom/eeprom_base.py
Labels: Bug, EEPROM

#150 [sonic_pcie][sonic_ssd] Make Python 3-compliant
  sonic_platform_base/sonic_pcie/__init__.py
  sonic_platform_base/sonic_pcie/pcie_base.py
  sonic_platform_base/sonic_pcie/pcie_common.py
  sonic_platform_base/sonic_ssd/ssd_generic.py
Labels: Enhancement, SSD
