Repository sonic-net/sonic-platform-common, pull requests merged in 2021-08, with the labels that each got.

#178 Load policy interval from thermal_policy.json
  sonic_platform_base/sonic_thermal_control/thermal_manager_base.py
Labels: Enhancement, Thermal

#203 [Y-Cable][Credo] Credo implementation of YCable class which inherits from YCableBase required for Y-Cable API's in sonic-platform-daemons
  sonic_y_cable/credo/y_cable_credo.py
  sonic_y_cable/y_cable_vendor_mapping.py
Labels: Enhancement, Y-Cable

#211 [Y-Cable] add the definition inside setup.py to include sonic_y_cabe.credo as a package
  setup.py
  sonic_y_cable/credo/__init__.py
Labels: Y-Cable, Request for 202012 Branch

#208 [Y-Cable][Broadcom] Broadcom implementation of YCable class which inherits from YCableBase required for Y-Cable API's in sonic-platform-daemons
  setup.py
  sonic_y_cable/broadcom/__init__.py
  sonic_y_cable/broadcom/y_cable_broadcom.py
  sonic_y_cable/y_cable_vendor_mapping.py
Labels: Enhancement, Y-Cable

#213 Add y-cable driver for simulated mux
  setup.py
  sonic_y_cable/microsoft/README
  sonic_y_cable/microsoft/__init__.py
  sonic_y_cable/microsoft/y_cable_simulated.py
  sonic_y_cable/y_cable_vendor_mapping.py
Labels: Y-Cable, Request for 202012 Branch
