Repository sonic-net/sonic-platform-common, pull requests merged in 2021-03, with the labels that each got.

#173 [sonic_platform_base] Proper use of class and instance attributes
  sonic_platform_base/__init__.py
  sonic_platform_base/chassis_base.py
  sonic_platform_base/component_base.py
  sonic_platform_base/device_base.py
  sonic_platform_base/fan_base.py
  sonic_platform_base/fan_drawer_base.py
  sonic_platform_base/module_base.py
  sonic_platform_base/platform_base.py
  sonic_platform_base/psu_base.py
  sonic_platform_base/sfp_base.py
  sonic_platform_base/thermal_base.py
  sonic_platform_base/watchdog_base.py
Labels: Bug, Chassis, Cleanup, EEPROM, Fan, Fan Drawer, Module, PSU, Thermal, Watchdog

#174 [y_cable] refactor upgrade firmware API's; Fix vendor and part number API's read size for read_eeprom
  sonic_y_cable/y_cable.py
Labels: Y-Cable

#175 [fan_drawer_base.py] Fix FanDrawer get_status_led interface
  sonic_platform_base/fan_drawer_base.py
Labels: Bug, Fan Drawer

#176 [y_cable] add support for enable/disable autoswitch feature on Y cable
  sonic_y_cable/y_cable.py
Labels: Enhancement, Y-Cable

#180 [thermal_base] Add setter functions for critical thresholds
  sonic_platform_base/thermal_base.py
Labels: Enhancement, Thermal

#177 Change import order in Ycable helper and EEPROM read bytearray change in SFP plugin
  sonic_platform_base/sonic_sfp/sfputilbase.py
  sonic_y_cable/y_cable.py
Labels: Bug, Transceiver, Y-Cable

#181 [sonic_y_cable]: Decorate all method for mux simulator
  sonic_y_cable/y_cable.py
Labels: Enhancement, Y-Cable
