Repository sonic-net/sonic-platform-common, pull requests merged in 2022-11, with the labels that each got.

#318 Fix issue: copper cable should not display DOM information
  sonic_platform_base/sonic_xcvr/api/public/sff8436.py
  sonic_platform_base/sonic_xcvr/api/public/sff8636.py
  tests/sonic_xcvr/test_sff8436.py
  tests/sonic_xcvr/test_sff8636.py
Labels: Bug, Transceiver, Request for 202205 branch

#320 Fix issue: rounding float value for txpower and rxpower
  sonic_platform_base/sonic_xcvr/api/public/cmis.py
Labels: Bug, Request for 202205 branch

#323 Clean-up duplicated code for power PM - C_CMIS
  sonic_platform_base/sonic_xcvr/mem_maps/public/c_cmis.py
Labels: CMIS

#294 implement CMIS set_laser_freq to support 100GHz grid space
  sonic_platform_base/sonic_xcvr/api/public/c_cmis.py
  tests/sonic_xcvr/test_ccmis.py
Labels: Transceiver, CMIS

#326 Add missing PM and VDM related EEPROM reads
  sonic_platform_base/sonic_xcvr/api/public/c_cmis.py
  sonic_platform_base/sonic_xcvr/api/public/cmis.py
  tests/sonic_xcvr/test_ccmis.py
  tests/sonic_xcvr/test_cmis.py
Labels: CMIS

#304 Add warning/critical thresholds for PSU power
  sonic_platform_base/psu_base.py
  tests/psu_base_test.py
Labels: Enhancement, PSU
