Repository sonic-net/sonic-platform-common, pull requests merged in 2022-12, with the labels that each got.

#332 [Ci][202205] Upgrade to bullseye and fix the branch reference issue
  azure-pipelines.yml
Labels: CI

#329 [202205] [Backport] Add media assignment options to Application Advertisement
  sonic_platform_base/sonic_xcvr/api/public/cmis.py
  tests/sonic_xcvr/test_cmis.py
Labels: CMIS

#331 [Ci] Upgrade to bullseye and fix the branch reference issue
  azure-pipelines.yml
Labels: CI

#333 [syseeprom] Remove the trailing space in the value of VENDOR_EXT field in the eepromTlvInfo decoder
  sonic_platform_base/sonic_eeprom/eeprom_tlvinfo.py
Labels: EEPROM, Request for 202205 branch

#315 Add get_transceiver_status and get_transceiver_pm to API interface
  sonic_platform_base/sonic_xcvr/api/public/c_cmis.py
  sonic_platform_base/sonic_xcvr/api/public/cmis.py
  sonic_platform_base/sonic_xcvr/api/xcvr_api.py
  tests/sonic_xcvr/test_ccmis.py
Labels: CMIS
