Repository sonic-net/sonic-platform-common, pull requests merged in 2023-01, with the labels that each got.

#341 add SOP ROC in bulk status
  sonic_platform_base/sonic_xcvr/api/public/c_cmis.py
  tests/sonic_xcvr/test_ccmis.py
Labels: CMIS

#342 Change get_tx_bias return type to list
  sonic_platform_base/sonic_xcvr/api/public/cmis.py
  tests/sonic_xcvr/test_cmis.py
Labels: Bug, CMIS

#343 Add missing sys imports to psu_base and fan_drawer_base
  sonic_platform_base/fan_drawer_base.py
  sonic_platform_base/psu_base.py
Labels: Request for 202012 Branch, Request for 202106 Branch, Request for 202111 branch, Request for 202205 branch
