Repository sonic-net/sonic-platform-common, pull requests merged in 2023-05, with the labels that each got.

#360 [sonic_xcvr] Prevent VDM dictionary related KeyError when a transceiver module is pulled while a bulk get method is interrogating said module
  sonic_platform_base/sonic_xcvr/api/public/c_cmis.py
Labels: Bug, Request for 202205 branch, CMIS, Request for 202211 branch

#370 replace exit() with sys.exit()
  sonic_platform_base/sonic_eeprom/eeprom_base.py
  sonic_platform_base/sonic_eeprom/eeprom_tlvinfo.py
  tests/eeprom_base_test.py
Labels: Enhancement

#371 Fix issue '<' not supported between instances of 'NoneType' and 'int'
  sonic_platform_base/sonic_xcvr/api/public/cmis.py
  tests/sonic_xcvr/test_cmis.py
Labels: Bug, Request for 202205 branch, CMIS, Request for 202211 branch

#368 Render Media lane and Media assignment options info from Application Code
  sonic_platform_base/sonic_xcvr/api/public/cmis.py
  tests/sonic_xcvr/test_cmis.py
Labels: Request for 202205 branch, CMIS, Request for 202211 branch

#372 Retrieve FW version using CDB command for CMIS transceivers + handle single bank FW versioning
  sonic_platform_base/sonic_xcvr/api/public/cmis.py
  sonic_platform_base/sonic_xcvr/api/xcvr_api.py
  sonic_platform_base/sonic_xcvr/sfp_optoe_base.py
  tests/sonic_xcvr/test_cmis.py
Labels: Request for 202205 branch, CMIS, Request for 202211 branch

#375 Update CMIS api's rendering max-duration
  sonic_platform_base/sonic_xcvr/codes/public/cmis.py
Labels: CMIS

#359 Move tx_disable/tx_disabled_channel/rx_los/tx_fault to get_transceiver_status API
  sonic_platform_base/sfp_base.py
  sonic_platform_base/sonic_xcvr/api/public/c_cmis.py
  sonic_platform_base/sonic_xcvr/api/public/cmis.py
  sonic_platform_base/sonic_xcvr/api/public/sff8436.py
  sonic_platform_base/sonic_xcvr/api/public/sff8472.py
  sonic_platform_base/sonic_xcvr/api/public/sff8636.py
  sonic_platform_base/sonic_xcvr/api/xcvr_api.py
  tests/sonic_xcvr/test_cmis.py
  tests/sonic_xcvr/test_sff8436.py
  tests/sonic_xcvr/test_sff8472.py
  tests/sonic_xcvr/test_sff8636.py
Labels: Enhancement, Transceiver, CMIS
