Repository sonic-net/sonic-platform-common, pull requests merged in 2023-03, with the labels that each got.

#337 [sonic_ssd] Nokia-7215: Fix "show platform ssdhealth"
  sonic_platform_base/sonic_ssd/ssd_generic.py
  tests/ssd_generic_test.py
Labels: SSD, Request for 202205 branch, Request for 202211 branch

#351 Fix issues in cmis.get_transceiver_bulk_status
  sonic_platform_base/sonic_xcvr/api/public/cmis.py
  tests/sonic_xcvr/test_cmis.py
Labels: Request for 202205 branch, Request for 202211 branch

#352 Modify get_host_lane_assignment_option to return value based on application id
  sonic_platform_base/sonic_xcvr/api/public/cmis.py
  tests/sonic_xcvr/test_cmis.py
Labels: CMIS

#353 Add set/get_lpmode APIs for sff8436 and sff8636 optics
  sonic_platform_base/sonic_xcvr/api/public/sff8436.py
  sonic_platform_base/sonic_xcvr/api/public/sff8636.py
  tests/sonic_xcvr/test_sff8436.py
  tests/sonic_xcvr/test_sff8636.py
Labels: Enhancement, Transceiver

#354 [CMIS] Add API to get module power up duration
  sonic_platform_base/sonic_xcvr/api/public/cmis.py
  sonic_platform_base/sonic_xcvr/fields/consts.py
  sonic_platform_base/sonic_xcvr/mem_maps/public/cmis.py
  tests/sonic_xcvr/test_cmis.py
Labels: CMIS
